@font-face {
  font-family: 'Century Expanded';
  src: url('assets/fonts/CenturyExp-Reg.otf');
  font-style: normal;
}
@font-face {
  font-family: 'Century Expanded';
  src: url('assets/fonts/CenturyExp-RegIta.otf');
  font-style: italic;
}
@font-face {
  font-family: 'Clearface';
  src: url('assets/fonts/ClearfaceITCPro-Heavy.otf');
}
@font-face {
  font-family: 'Frutiger';
  src: url('assets/fonts/Frutiger_Roman.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Frutiger';
  src: url('assets/fonts/Frutiger_Italic.ttf');
  font-style: italic;
}
@font-face {
  font-family: 'Frutiger Condensed';
  src: url('assets/fonts/Frutiger_Condensed.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Frutiger Condensed Bold';
  src: url('assets/fonts/Frutiger_Bold_Condensed.ttf');
  font-style: normal;
  font-weight: bold;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-image: url('assets/images/MBE_FOW_bkgd.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 1920px;
  height: 1080px;
  display: flex;
  flex-direction: column;
  font-family: 'Century Expanded', sans-serif;
  color: #2a1c14;
}

.Container {
  padding: 100px;
  max-height: 1080px;
}
.ButtonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.Title {
  font-size: 60px;
  color: #30647e;
  font-family: 'Clearface', serif;
  margin-bottom: 30px;
}
.SplashTitle {
  font-size: 70px;
  color: white;
  font-family: 'Clearface', serif;
  text-shadow: 1px 2px 4px #2a1c14;
}

.SplashButton {
  width: 250px;
  animation: fadeIn 2s ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.btn {
  border-radius: 0;
  font-family: "Frutiger Condensed Bold", sans-serif;
  font-size: 26px;
  background-color: #d59132;
  color: white;
  padding: 10px;
  border: none;
}
.btn:hover {
  background-color: #30647e;
  color: white;
}

.CategoryButtons .btn {
  border-radius: 0;
  font-family: "Frutiger Condensed Bold", sans-serif;
  font-size: 26px;
  background-color: white;
  color: #d59132;
  border: 2px solid white;
  width: 420px;
  margin: 0 4px;
  padding: 10px 0;

}
.CategoryButtons .btn.active {
  background-color: #30647e;
  color: white;
  border: 2px solid #d59132;
}
.CategoryButtons .btn:not(.active):hover {
  background-color: white;
  color: #d59132;
  border: 2px solid white;
}

.WorkerList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  align-items: center;
}
.WorkerList.Category2 {
  margin: 0 200px;
}
.WorkerList .WorkerItem {
  margin: 20px;
  animation: fadeIn 1s;
}
.WorkerList .WorkerLink {
  color: white;
  text-decoration: none;
}
.WorkerList .WorkerNameTag {
  color: white;
  font-size: 22px;
  font-family: "Frutiger Condensed Bold", sans-serif;
  padding: 10px 0;
  background-color: #d59132;
  width: 230px;
  text-align: center;
  text-decoration: none;
  margin-top: -30px;
  position: relative;
}

.Intro {
  font-size: 22px;
  width: 860px;
  margin: 30px auto 10px auto;
}

.HomeLink {
  font-size: 22px;
  color: #2a1c14;
  text-decoration: none;
  position: absolute;
  top: 50px;
  left: 150px;
  font-family: "Frutiger Condensed Bold", sans-serif;

}
.HomeLink span {
  color: white;
  padding: 5px 6px 5px 4px;
  border-radius: 50%;
  background-color: #d59132;
  font-size: 20px;
  height: 40px;
  width: 40px;
  display: inline-block;
  margin-right: 5px;
}

.WorkerName {
  font-size: 40px;
  color: #30647e;
  font-family: 'Clearface', serif;
  padding-left: 10px;
}

.WorkerName:before {
  content: ' ';
  border-left: 4px solid #30647e;
  padding-right: 10px;
  padding-left: 10px;
}

.Category {
  font-size: 32px;
  font-style: italic;
}

.Button {
  background: white;
  color: #d59132;
  border: 2px solid white;
  border-radius: 0;
  padding: 10px 20px;
  font-size: 27px;
  font-family: 'Frutiger Condensed Bold', sans-serif;
  cursor: pointer;
  text-decoration: none;
  margin: 0 4px;
  width: 420px;
}

.Button.Active {
  background: #30647e;
  color: white;
  border: 2px solid #d59132;
}

.Popups {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin-top: 20px;
}
.Popups img {
  width: 360px;
  height: auto;
  margin-right: 30px;
  border: 1px solid #2a1c14;
  cursor: pointer;
}
.Popups img:last-child {
  margin-right: 0;
}

.BioContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
  margin-top: 120px;
  align-items: center;
  min-height: 910px;
}

.BioNav {
  font-family: "Frutiger Condensed Bold", sans-serif;
  font-size: 22px;
  color: #2a1c14;
  width: 105px;
  text-align: center;
  margin: 0 75px
}

.BioNav a {
  color: #2a1c14;
  text-decoration: none;
}

.BioNav a:before {
  content: '';
  background-image: url("assets/images/MBE_arrow_prev.png");
  background-size: contain;
  height: 25px;
  width: 94px;
  display: block;
  margin-bottom: 10px;
}

.BioNav .Next a:before {
  background-image: url("assets/images/MBE_arrow_next.png");
}

.Card {
  background-image: url('assets/images/MBE_FOW_card.png');
  width: 1160px;
  height: 609px;
  background-size: 100%;
}

.CardBody, .CardTitle {
  display: flex;
  flex-wrap: wrap;
}

.CardTitle {
  padding-top: 50px;
  justify-content: center;
  align-items: center;
}

.CardBody {
  height: 470px;
}

.CardPortrait {
  width: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left:25px;
}
.CardPortrait img {
  height: 252px;
}

.CardBio {
  margin-top: 40px;
  width: 670px;
  text-align: left;
  font-size: 22px;
  line-height: 1.3;
  white-space: pre-line;
}

.CardBio span {
  font-size: 100px;
  color: #30647e;
  padding-right: 10px;
  margin-top: 38px;
  float: left;
  line-height: 0.3;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Century Expanded', sans-serif;
}

.App-link {
  color: #61dafb;
}

.modal {
  font-family: 'Century Expanded', sans-serif;
  color: #2a1c14;
}
.modal-dialog {
  max-width: 1200px;
}
.modal-content {
  border-radius: 0;
  background: url('assets/images/MBE_popup-bkgd.png');
  background-size: cover;
  padding: 20px;
  border: none;
}
.modal-header {
  border: none;
  height: 75px;
  padding: 0 20px;
}
.modal-header .btn-close {
  color: #d59132;
  background: url("assets/images/MBE_close.png") no-repeat;
  background-size: contain;
  opacity: 1;
}
.modal-body {
  padding: 0 100px 50px 100px;
  font-size: 22px;
  text-align: center;
}
.modal-body img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  border: 1px solid #2a1c14

}
.modal-body .Caption {
  width: 80%;
  margin: 0 auto;
  padding: 10px 0;
}
.modal-body .Credit {
  font-size: 16px;
  display: block;
  margin-top: 10px;
}
.slideshow img {
  transform: scale(1.2);
}
.slideshow img.active {
  animation: growIn 6s ease-in-out;
}

.acorn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 15px;
  background-color: #30647e;
  border-radius: 50%;
  z-index: 1;
  display: none;
}
.acorn.active {
  background-color: #d59132;
  display: block;
  cursor: pointer;
  &:not(.popup) {
    animation: pulse 4s infinite;
  }
  &.popup {
    box-shadow: 0 0 20px 5px white;
  }
}

.acorn-popup {
  position: absolute;
  bottom: 50px;
  right: 50px;
  background: #30647e;
  font-family: 'Century Expanded', sans-serif;
  color: white;
  font-size: 20px;
  width: 380px;
  height: 250px;
  align-items: center;
  padding: 40px;
  display: none;
  text-align: left;
}
.acorn-popup.active {
  display: flex;
}
.acorn-popup .close {
  position: absolute;
  top: 15px;
  right: 15px;
  background: url("assets/images/MBE_close.png") no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.acorn-screen {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 1;
}
.acorn-screen.active {
  display: block;
}

.tooltip {
  background: #30647e;
  font-family: 'Century Expanded', sans-serif;
  font-size: 16px;
  border-radius: 0;
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes growIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 white;
  }
  50% {
    box-shadow: 0 0 20px 5px white;
  }
  95% {
    box-shadow: 0 0 1px 0 white;
  }
  100% {
    box-shadow: 0 0 0 0 white;
  }
}
